body {
  background: url("../images/vwbeach.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar img {
  padding-top: 10px;
  width: auto;
  height: auto;
}

.navbar {
  color: white;
  border: none !important;
  background: transparent !important;
}

.navbar a, .navbar a:visited {
  color: white !important;
}
